.container {
  display: flex;
  flex-direction: column;
  max-width: 992px;
  height: 100vh;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.container section {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 768px) {
  .container section {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: center;
  }

  .container section > div:last-child {
    padding-bottom: 3rem;
  }
}
